html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: 'Roboto', sans-serif;/*クソクソクソクソクソクソクソ*/
    background-color: #90bce6;
  }

body {
    width: 1200px;
    margin:  auto;
    background-color: #85eccd;
    padding:  20px 20px 20px;
}

  h1 {
    font-family: 'helvetica neue', helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid rgba(0,0,200,0.6);
    background: rgba(0,0,200,0.6);
    border-radius: 10px;
    padding: 5px 10px;
  }

  h2 {
    font-size: 50px;
    margin: 0;
    padding: 20px 0;
  }

    h3 {
      font-size: 50px;
      margin: 0;
      padding: 10px 0;
  }
    
  h4 {
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
}

  article {
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
  }

  img {
      display: block;
      margin: 10px 3px 30px 5px;
  }

  p, li, a {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
  }

  label {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
  }

  div {
    font-size: 24px;
  }

  #back {
    font-size: 16px;
  }

  #new {
    /* フォントサイズなどを任意で指定する */
    font-size: 32px;
  /*font: bold 10em / 1 Verdana, Helvetica, Arial, sans-serif;*/
  text-transform: uppercase;
  
  /* 背景グラデーションを指定・幅を 200% にしておく */
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  
  /* 背景画像を文字でマスクする */
          background-clip: text;
  -webkit-background-clip: text;
  
  /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
  -webkit-text-fill-color: transparent;
  
  /* アニメーション指定 */
  animation: example 4s linear infinite;
}

/* 背景の横位置をズラす */
@keyframes example {
  to { background-position-x: 200%; }
  }